@model SpaceTravel.Models.Destination

@{
    ViewData["Title"] = "Destination Details";
}
@{
  Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div class="container">
    <h4>Destination</h4>
    @using( Html.BeginForm())
    {
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Url" class="mw-75" alt="@Model.Name" />
        </dd>
        <div class="row justify-content-center">
            <div class="col-sm-4">
        <input type="submit" class="btn btn-primary" value= "BOOK FLIGHT"></input>
            </div>
        </div>
    
    </dl>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
